/*Main CSS*/
body {
    color: #202020;
    font-family: "Raleway", Courier, monospace;
    background-color: #f3f3f3;
}

blockquote {
    background-color: #e2ffe7;
    display: block;
    border-radius: 2.5px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20%;
    margin-right: 20%;
}

img {
    width: 100%;
    height: auto;
    border-radius: 2.5px;
}

footer {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

footer img {
    width: 16px;
    height: 16px;
}

footer:a {
    position: absolute;
    border-right: 1px solid #000000;
    padding-right: 4px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

article {
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: 2.5px;
    box-shadow: 2px 3px 5px gray, 2px 3px 5px rgba(0,0,0,0.24);
    padding: 3%;
    background-color: #fafafa;
}

button {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    background-color: #4CAF50; /* Green */
    border: none;
    padding: auto;
    text-align: center;
    box-shadow: 2px 3px 5px gray, 2px 3px 5px rgba(0,0,0,0.24);
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 2.5px;
}

button:hover {
    background-color: #e2ffe7;
    color: black;
    font-weight: bold;
}

button:visited {
    color: white;
}

/*Navigation*/


nav {
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin: auto;
    margin-bottom: 3%;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: auto;
}

nav li {
    float: left;
    display: block;
    width: auto;
    padding: none;
}

nav li a {
    display: block;
    color: #2B823A;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

nav li a:hover {
    color: #808080;
}

/*Generic Links*/

a:link {
    text-decoration: none;
    color: #2B823A;
    font-weight: bold;
}

a:hover {
    color: #808080;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color: #91c893;
    font-weight: bold;
}

/*Images*/

nav img {
    width:40px;
    height:40px;
}
